@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff");

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'RIDIBatang';
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

img{
    vertical-align: bottom;
}

